
#menu_text{
	background-color: #2ac9a2;
	text-align: center;
	padding: 80px;
	margin: 0;
}
nav{
	background-color: #2b3436;
	overflow: hidden;
}
nav a{
	color: white;
	padding: 14px 20px;
	text-decoration: none;
	display: block;
	text-align: center;
}
nav a:hover{
	background-color: #DDD;
	color: black;
}
nav a.menu_left{
	float: left;
}
nav a.menu_right{
	float: right;
}
#flex_container{
	display: flex;
	flex-wrap: nowrap;
}
#left_side{
	flex: 30%;
	background-color:#e6e8e7;
	padding: 10px 15px;
}
#right_side{
	flex: 70%;
	padding: 10px 15px;
}
table {
	border-collapse: collapse;
}

td, th {
	border: 1px solid #ddd;
	padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}

footer{
	background-color: #2b3436;
	color: white;
	text-align: center;
	padding: 20px;
}
footer a{
	color: white;
}
#course_container{
	display: flex;
	flex-wrap: wrap;
}
.course_item{
	width: 33%;
	text-align: center;
	margin-bottom: 20px;
}
.course_img{
	width: 90%;
}
.course_title{
	font-weight: bold;
	padding: 10px 10px 5px 10px;
}
.course_desc{
	margin: 0px 10px 0px 10px;
}
.course_item:hover{
	background-color: #ebebeb;
}
@media(max-width: 800px){
	#left_side{
		flex: 100%;
	}
	#right_side{
		flex: 100%;
	}
	#flex_container{
		flex-wrap: wrap;
	}
	nav a.menu_left{
		float: none;
	}
	nav a.menu_right{
		float: none;
	}
	.course_item{
		width: 50%;
	}
}
@media(max-width: 400px){
	#left_side{
		flex: 100%;
	}
	#right_side{
		flex: 100%;
	}
	#flex_container{
		flex-wrap: wrap;
	}
	nav a.menu_left{
		float: none;
	}
	nav a.menu_right{
		float: none;
	}
}
